{% extends "home/base.html" %}


{% block styles %}
    <style>

        .bg {
            background: url('/static/images/7.jpg');
            width: 100%;
            margin-top: 44px;
            min-height: 930px;
            background-size: 100% 100%;
        }

        .cj {
            position: fixed;
            padding-left: 15%;
            padding-top: 10%;
            font-size: 16px;
        }

        .poem-line {
            padding-bottom: 10px;
            font-family:"Times New Roman",Georgia,Serif;
        }

    </style>
{% endblock styles %}
{% block title %}
    夕惕若，厉无咎
{% endblock title %}
{% block main %}



    <main class="main bg">

        <div class="cj">
            <p class="poem-line">《仓颉》— <span>五月天</span></p>
            <p class="poem-line">一颗葡萄有多甜美，</p>
            <p class="poem-line">用尽了所有的图腾和语言描写。</p>
            <p class="poem-line">升起了慌张的狼烟，</p>
            <p class="poem-line">我遗落在这孤独史前的荒野。</p>
            <p class="poem-line">一只蝴蝶有多鲜艳，</p>
            <p class="poem-line">能不能飞越过猜忌和冷漠世界。</p>
            <p class="poem-line">当星宿都沉默山岳，</p>
            <p class="poem-line">只盼你会抬头，看我寄托的弯月。</p>
            <p class="poem-line">想穿越，想飞天，想变成造字的仓颉。</p>
            <p class="poem-line">写出让宇宙能重来的诗篇。</p>
            <p class="poem-line">天雨粟，鬼夜哭，思念漫太古。</p>

        </div>


    </main>



{% endblock main %}