{% extends "crm/base.html" %}
{% load staticfiles %}

{% block title %}
    微博top
{% endblock title %}




{% block styles %}
    <style>
    </style>
{% endblock styles %}


{% block content %}



    <div class="content-wrapper" style="min-height: 916px;margin:auto">


        <div id="toolbar">
            <div class="form-inline" role="form">


                <div class="form-group">
                    <input name="search" class="form-control" type="text" placeholder="搜索">
                    <input type="text" class="form-control" id="sandbox-container" placeholder="起始时间">

                </div>

                <button id="ok" type="submit" class="btn btn-default">搜索</button>
            </div>
        </div>

        <section class="content">
            <table id="table"></table>


        </section>


    </div>





{% endblock content %}

{% block scripts %}




    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

    <!-- Latest compiled and minified Locales -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>


    <script src="https://uxsolutions.github.io/bootstrap-datepicker/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.min.js"></script>






    <script src="{% static 'commom_js/commonjs.js' %} "></script>


    <script>

        var operateFormatter = function (value, row, index) {//赋予的参数

            return '<a class="detail"  style="cursor:pointer;max-width:50px" data-url=' + row['url'] + '> ' + row['text'] + '</a>'

        }
        var columns = [

            {
                field: 'pk',
                title: 'id',
                align: 'center',
                width: '200px',

            },
            {
                field: 'text',
                title: '热搜',
                align: 'center',
                formatter: operateFormatter

            },

            {
                field: 'hot_count',
                title: '热度',
                align: 'center',
            },
            {
                field: 'creation_time',
                title: '创建时间',
                align: 'center',
            }


        ];


        $('#table').empty();
        $('#table').bootstrapTable({
            url: '/crm/api/sina_list/',   //url一般是请求后台的url地址,调用ajax获取数据。此处我用本地的json数据来填充表格。
            method: "get",                     //使用get请求到服务器获取数据
            dataType: "json",
            contentType: 'application/json,charset=utf-8',
            toolbar: "#toolbar",                //一个jQuery 选择器，指明自定义的toolbar 例如:#toolbar, .toolbar.
            uniqueId: "id",                    //每一行的唯一标识，一般为主键列
            cache: false,                       // 不缓存
            striped: true,                      // 隔行加亮
            queryParamsType: "limit",           //设置为"undefined",可以获取pageNumber，pageSize，searchText，sortName，sortOrder
                                                //设置为"limit",符合 RESTFul 格式的参数,可以获取limit, offset, search, sort, order
            queryParams: queryParams,
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            sortable: true,                     //是否启用排序;意味着整个表格都会排序
            pagination: true,                   //是否显示分页（*）
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            clickToSelect: true,                //是否启用点击选中行
            minimumCountColumns: 2,          //最少允许的列数 clickToSelect: true, //是否启用点击选中行
            pageNumber: 1,                   //初始化加载第一页，默认第一页
            pageSize: 20,                    //每页的记录行数（*）
            pageList: [20, 50, 100],     //可供选择的每页的行数（*）
            paginationPreText: "上一页",
            paginationNextText: "下一页",

            columns: columns,

            onLoadSuccess: function (data) { //加载成功时执行
                console.log('加载成功');
            },
            onLoadError: function (res) { //加载失败时执行
                console.log('加载失败');
            }
        });

        $(document).delegate(".detail", "click", function () {
            var url = this.getAttribute('data-url');
            window.open(url)
        });


        $('#ok').click(function () {
            $('#table').bootstrapTable('refresh');
        });


        function queryParams(params) {
            var params = {
                offset: params.offset,
                limit: params.limit,
                order: params.order,

                // ordername: params.sort,
                // startDateTime: $("#dateSearch .startDate").val(),
                // endDateTime: $("#dateSearch .endDate").val(),
                // search: $("#dateSearch .imuserid").val()

            };

            $('#toolbar').find('input[name]').each(function () {
                params[$(this).attr('name')] = $(this).val();
            });

            return params;
        }


        $('#sandbox-container').datepicker({
            language: "zh-CN",
            orientation: "top right",
            autoclose: true


        });



    </script>


{% endblock %}